<div class="entries">
    <div class="entries__left">
        <h1 class="heading">My Goals</h1>
        <span><%= link_to 'New Goal', new_user_goal_path(current_user), class: "entry__new" %>&larrhk;</span>
    </div>
    <div class="entries__right">
        <ul class="entries__list">
        <% @goals.uniq.each do |goal| %>
            <li class="entries__item">
                <p class="entries__item--name"><%= goal.name %></p>
                <p class="entries__item--description"><%= goal.description %></p>
            </li>
        <% end %>
        </ul>
    </div>
</div>