<div class="new-entries">
        <h1 class="heading">New Journey</h1>
        <p><em>Can't find the goal you're looking for?</em></p>
        <p><em>Create one on your <%= link_to "Goals page", new_user_goal_path(current_user) %>.</em></p>
        <%= render partial: 'form', locals: {url: user_journeys_url(current_user) } %>

        <%= render partial: 'application/errors', locals: {errors: @journey.errors.full_messages} %>

</div>